---
layout: default
title: shuxiong 
---

<div id="home">
    {% for post in paginator.posts %}
    <p class='title'><a href="/shuxiong-blog/{{ post.url }}">{{ post.title }}</a></p>
    <div id = "post">
        <p class="meta"> {{ post.date | date : "%Y-%m-%d %a %H:%M" }} </p>
        {{ post.content }}
    </div>

    {% if forloop.last == false %}
    <br/><hr/>
    {% endif %}
    {% endfor %}

</div>

<hr/>

<div class="center">
    <a href="/shuxiong-blog/blog/archives" class="circle-wrapper">
        <div class="circle">&nbsp;</div>
        <div class="circle">&nbsp;</div>
        <div class="circle">&nbsp;</div>
    </a>
</div>
